@font-face {
    font-family: 'Saudia Text';
    src: url('SaudiaText-Italic.woff2') format('woff2'),
        url('SaudiaText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Headline';
    src: url('SaudiaHeadline-Light.woff2') format('woff2'),
        url('SaudiaHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('SaudiaText-Bold.woff2') format('woff2'),
        url('SaudiaText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('SaudiaText-BoldItalic.woff2') format('woff2'),
        url('SaudiaText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Headline';
    src: url('SaudiaHeadline.woff2') format('woff2'),
        url('SaudiaHeadline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('SaudiaText-LightItalic.woff2') format('woff2'),
        url('SaudiaText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('SaudiaText-Light.woff2') format('woff2'),
        url('SaudiaText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('SaudiaText.woff2') format('woff2'),
        url('SaudiaText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

