@font-face {
    font-family: 'Saudia Text Arabic';
    src: url('SaudiaTextArabic-Bold.woff2') format('woff2'),
        url('SaudiaTextArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Headline Arabic';
    src: url('SaudiaHeadlineArabic-Light.woff2') format('woff2'),
        url('SaudiaHeadlineArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text Arabic';
    src: url('SaudiaTextArabic-Light.woff2') format('woff2'),
        url('SaudiaTextArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Headline Arabic';
    src: url('SaudiaHeadlineArabic-Regular.woff2') format('woff2'),
        url('SaudiaHeadlineArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text Arabic';
    src: url('SaudiaTextArabic-Regular.woff2') format('woff2'),
        url('SaudiaTextArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

