@font-face {
    font-family: 'Saudia Text';
    src: url('fonts/SaudiaText-Italic.woff2') format('woff2'),
        url('fonts/SaudiaText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Headline';
    src: url('fonts/SaudiaHeadline-Light.woff2') format('woff2'),
        url('fonts/SaudiaHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('fonts/SaudiaText-Bold.woff2') format('woff2'),
        url('fonts/SaudiaText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('fonts/SaudiaText-BoldItalic.woff2') format('woff2'),
        url('fonts/SaudiaText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Headline';
    src: url('fonts/SaudiaHeadline.woff2') format('woff2'),
        url('fonts/SaudiaHeadline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('fonts/SaudiaText-LightItalic.woff2') format('woff2'),
        url('fonts/SaudiaText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('fonts/SaudiaText-Light.woff2') format('woff2'),
        url('fonts/SaudiaText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text';
    src: url('fonts/SaudiaText.woff2') format('woff2'),
        url('fonts/SaudiaText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Saudia Text Arabic';
    src: url('fonts/SaudiaTextArabic-Bold.woff2') format('woff2'),
        url('fonts/SaudiaTextArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Headline Arabic';
    src: url('fonts/SaudiaHeadlineArabic-Light.woff2') format('woff2'),
        url('fonts/SaudiaHeadlineArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text Arabic';
    src: url('fonts/SaudiaTextArabic-Light.woff2') format('woff2'),
        url('fonts/SaudiaTextArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Headline Arabic';
    src: url('fonts/SaudiaHeadlineArabic-Regular.woff2') format('woff2'),
        url('fonts/SaudiaHeadlineArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Text Arabic';
    src: url('fonts/SaudiaTextArabic-Regular.woff2') format('woff2'),
        url('fonts/SaudiaTextArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.fs-18{
    font-size: 18px;
}

.fs-41{
    font-size: 41px;
}

.saudiatext-regular{
    font-family: 'Saudia Text';
    font-weight: normal;
}
.saudiahead-ar-regular{
    font-family: 'Saudia Headline Arabic';
    font-weight: normal;
}
.saudiahead-ar-light{
    font-family: 'Saudia Headline Arabic';
    font-weight: 300;
}
.saudiahead-regular{
    font-family: 'Saudia Headline';
    font-weight: normal;
}


.body-background{
    background-image:url('images/background-md.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .navbar{
    height: 80px;
} */
.btn-lang{
    background-color: rgb(0, 81, 38)!important;
    color: white !important;
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    
}
.color-grey{
color: rgb(108, 108, 108);
}

.color-white{
    color: white;
}

.color-orange{
    color: #a39161;
}

.nav-logo{
    width: 170px;
    height: 50px;
}

.text-section{
    color: white;
    margin-top: -22rem;
}
.destination{
    color: white;
    position: absolute;
    top:20rem;
    right: 20rem;
    font-size: 24px;
}
.question{
    font-size: 41px;
    margin-top: 10px;
}
.woman-image{
    margin-top: -6rem;
}
.goals{
    line-height: 2.2;
    margin-top:20px;
    font-size: 20px;
}
form{
    margin-top: 15rem;
    letter-spacing: 2px;
    font-size: 16px;

}
.green-input{
    background-color:rgba(4, 58, 10,.75) !important;
    mix-blend-mode: overlay;
    /* background-image: url('images/input-background.JPG') !important; */
    background-size: cover;
    color: white !important;
    border:none !important;
    border-radius: 10px !important;
 }
  #inputName, #inputPassword4, #datepicker{
    height: 40px !important;
 }

 .gj-datepicker-bootstrap span[role=right-icon].input-group-addon {
    display: none;
 }
 a{
    text-decoration: none;
 }
.btn-send{
    background-color: #a39161!important;
    color: white!important;
    border-radius: 10px!important;
    margin-top: 5rem;
}
.logo-image{
    margin-top: 18rem;
}
.logo-image-2{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
.logo-image-2 img{
    width:200px;
    height: 100px;
}
.btn:hover{
    opacity: 0.8;
}

@media screen and (min-width: 1600px) {
    .body-background{
        background-image: url('images/background1600.jpg');
    }
    form{
        margin-top: 25rem;
    }
    .destination{
        right: 10rem;
        font-size: 35px;
    }
    .logo-image{
        margin-top: 20rem;
    }

}

@media screen and (min-width: 1200px) {

    .destination{
        right: 10rem;

    }
}

@media screen and (min-width: 992px) and (max-width:1200px) {

    .destination{
        right: 4rem;

    }
}

@media screen and (max-width: 991px) {
    .body-background{
        background-image: url('images/website-3.jpg');
    }
    .destination{
        top: 10%;
        right: 3rem;
        font-size: 18px !important;
        width: 45%;
      }
      .text-section{
         /* margin-top: -7rem; */
         margin-top: -10rem;
      }
      form{
        margin-top: 0.5rem;
        font-size: 9px;
      }
      .form-group{
        float: left;
        /* width: 20% !; */
      }
      .goals{

        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .body-background{
        background-image: url('images/mobile.jpg');
    }
    .text-section{
        margin-top: -12rem;
    }
    .question{
        font-size: 30px;
    }
    .goals{
        line-height: 1.5;
    }
        form{
            margin-top: 10rem;
            font-size: 10px;
        
        }
        
        .destination{
            top: 8rem;
            right: 1rem;
            font-size: 16px !important;
            width: 45%;
          }
          .nav-logo{
            width: 80px;
            height: 40px;
        }
}
    @media screen and (min-width: 430px) and (max-width: 540px) {
        .body-background{
            background-image: url('images/background-sm.jpg');
        }
        .destination{
            top: 5rem;
            right: 2rem;
            font-size: 12px !important;
            width: 40%;
          }
          .text-section{
            margin-top: 7rem;
         }
         form{
             margin-top: 2rem;
             font-size: 10px;
         }
         .btn-send{
             margin-top: 0;
         }
         .form-group{
             float: none;
             /* width: 20% !; */
           }
    }

    @media screen and (max-width: 430px) {
        .body-background{
            background-image: url('images/background-sm.jpg');
        }
        .destination{
          top: 5rem;
          right: 2rem;
          font-size: 10px !important;
          width: 40%;
        }
        .text-section{
           margin-top: 7rem;
        }
        form{
            margin-top: 15rem;
            font-size: 12px;
        }

        .form-group{
            float: none;
            /* width: 20% !; */
          }
          .logo-image{
            margin-top: 15rem;
        }
    }
    @media screen and (max-width: 390px){
        .body-background{
            background-image: url('images/background-mobile.jpg');
        }
        .btn-send{
            margin-top: 0rem;
        }
        .text-section{
            margin-top: 0rem;
         }
         form{
            margin-top: -6rem;
            font-size: 9px;
         }
         .nav-logo{
            width: 70px;
         }
    }